.header {
    .heading-section {
        display: flex;
        gap: var(--dui-spacing-small);

        .heading-container {
            flex-grow: 1;

            .heading {
                flex-grow: 1;

                .heading-info {
                    padding: 0 var(--dui-spacing-small);
                    vertical-align: middle;
                    line-height: 1;
                }
            }

            &.inline-heading-description {
                display: flex;
                gap: var(--dui-spacing-small);
                flex-shrink: 0;

                .heading-description {
                    display: flex;
                    gap: var(--dui-spacing-large);
                    flex-direction: row;
                }
            }
        }
    }
}
