.header {
    .heading-section {
        display: flex;
        gap: var(--dui-spacing-small);

        .heading-container {
            flex-grow: 1;

            .heading {
                display: flex;
                align-items: center;
                gap: var(--dui-spacing-small);
                flex-grow: 1;
            }

            &.inline-heading-description {
                display: flex;
                gap: var(--dui-spacing-small);
                flex-shrink: 0;
            }
        }
    }
}
