.input-container {
    display: flex;
    flex-direction: column;
    gap: var(--dui-spacing-small);

    .label {
        color: var(--dui-color-text);
    }

    .input-section {
        display: flex;
        border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
        padding: 0 var(--dui-spacing-extra-small);
        gap: var(--dui-spacing-small);

        .icons {
            display: flex;
            gap: var(--dui-spacing-extra-small);
            align-items: center;
            flex-wrap: wrap;
        }

        .input {
            flex-grow: 1;
        }

        .actions {
            display: flex;
            align-items: center;
            gap: var(--dui-spacing-extra-small);
            flex-wrap: wrap;
        }
    }

    .error {
        color: var(--dui-color-negative);
    }
}
