.heading {
    position: relative;
    margin: 0;
    color: var(--dui-color-brand);
    font-family: var(--dui-font-family-heading);
    font-weight: var(--dui-font-weight-heading);

    &.extra-large {
        font-size: var(--dui-font-size-mega-large);
    }

    &.large {
        font-size: var(--dui-font-size-super-large);
    }

    &.medium {
        font-size: var(--dui-font-size-extra-large);
    }

    &.small {
        font-size: var(--dui-font-size-large);
    }

    &.extra-small {
        font-family: var(--dui-font-family-sans-serif);
        font-size: var(--dui-font-size-medium);
    }

    .border {
        position: absolute;
        bottom: 0;
        left: 0;
        background-color: var(--dui-color-accent);
        width: 8rem;
        height: var(--dui-width-separator-medium);
    }
}
