.number-block {
    .value {
        font-size: var(--tui-font-size-extra-large);
        font-weight: var(--tui-font-weight-bold);
    }

    .label {
        color: var(--tui-color-text-label);
        font-size: var(--tui-font-size-medium);
        font-weight: var(--tui-font-weight-bold);
    }

    .sub-label {
        color: var(--tui-color-text-label);
        font-size: var(--tui-font-size-small);
    }

    &.conflict {
        .label,
        .value {
            color: var(--color-conflict);
        }
    }

    &.disaster {
        .label,
        .value {
            color: var(--color-disaster);
        }
    }

    &.medium {
        .value {
            font-size: var(--tui-font-size-super-large);
        }
    }

    &.large {
        .value {
            font-size: var(--tui-font-size-massive-large);
        }
    }

    &.small {
        .value {
            font-size: var(--tui-font-size-large);
        }
    }

    &.xsmall {
        .value {
            font-size: var(--tui-font-size-medium);
        }
        .label {
            font-size: var(--tui-font-size-small);
        }
    }
}
