.input-label {
    --color: var(--tui-color-text-label);

    &.dark {
        --color: var(--tui-color-text-label-on-dark);
    }

    color: var(--color);
    font-size: var(--tui-font-size-small);
    font-weight: var(--tui-font-weight-bold);

    &.disabled {
        opacity: var(--tui-opacity-disabled-element);
    }
}
