.icons {
    flex-shrink: 0;
}

.children {
    --spacing: var(--tui-spacing-small);

    display: flex;
    align-items: center;
    flex-grow: 1;

    &.no-spacing {
        --spacing: 0;
    }

    &.compact-spacing {
        --spacing: var(--tui-spacing-extra-small);
    }

    &.comfortable-spacing {
        --spacing: var(--tui-spacing-small);
    }

    &.loose-spacing {
        --spacing: var(--tui-spacing-medium);
    }
}

.actions {
    flex-shrink: 0;
}
