.slider {
    display: flex;
    position: relative;
    gap: var(--dui-spacing-medium);

    .label-description {
        font-family: monospace;
    }

    .heading {
        font-size: var(--dui-font-size-small);
    }

    .heading-description {
        color: var(--dui-color-text-label);
        font-size: var(--dui-font-size-small);
    }

    .react-slider {
        width: 100%;
        height: 2ch;

        .thumb {
            border: 2px solid var(--dui-color-brand);
            border-radius: 50%;
            background-color: #fff;
            cursor: grab;
            width: 2ch;
            height: 2ch;
            text-align: center;
        }

        .track {
            top: 1ch;
            background-color: var(--dui-color-separator);
            height: 2px;

            &.center {
                background-color: var(--dui-color-brand);
            }
        }

        .mark {
            transform: translate(calc(1ch + 0.5px), -0.5ch);
            transition: opacity .2s ease-in-out;
            opacity: 0.3;
            border-radius: 50%;
            background-color: var(--dui-color-brand);
            width: var(--dui-width-separator-thin);
            height: 1.5ch;
        }
    }

    .value {
        font-family: monospace;
    }

    /*
    &:hover {
        .react-slider {
            .mark {
                opacity: 0.2;
            }
        }
    }
    */
}
