.slider {
    display: flex;
    position: relative;
    gap: var(--dui-spacing-medium);

    .react-slider {
        width: 100%;
        height: 2ch;

        .thumb {
            border: 1px solid var(--dui-color-brand);
            border-radius: 50%;
            background-color: #fff;
            cursor: grab;
            width: 2ch;
            height: 2ch;
            text-align: center;
        }

        .track {
            top: 1ch;
            background-color: var(--dui-color-separator);
            height: 1px;

            &.center {
                background-color: var(--dui-color-brand);
            }
        }

        .mark {
            transform: translate(0.75ch, calc(0.75ch + 0.5px));
            opacity: 0.2;
            border-radius: 50%;
            background-color: var(--dui-color-brand);
            width: 0.5ch;
            height: 0.5ch;
        }

    }

    .selected-range {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
