.good-practices {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--dui-spacing-super-large);

    .header-section {
        display: flex;
        position: relative;
        align-items: stretch;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;

        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: var(--dui-color-brand);
            background-position: top center;
            background-size: cover;
            width: 100%;
            color: var(--dui-color-text-on-dark);
            background-blend-mode: soft-light;
            gap: var(--dui-spacing-large);

            .container {
                display: flex;
                flex-direction: column;
                padding: var(--dui-spacing-large);
                width: 100%;
                max-width: var(--width-page-max);
                gap: var(--dui-spacing-large);
            }
        }

    }

    .main-content {
        display: flex;
        flex-direction: column;
        padding: var(--dui-spacing-large);
        width: 100%;
        max-width: var(--width-page-max);
        gap: var(--dui-spacing-extra-large);

        .faq-section {
            display: flex;
            gap: var(--dui-spacing-large);

            .faq-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--dui-spacing-small);
            }

            .side-pane {
                display: flex;
                flex-basis: 30%;
                flex-direction: column;
                flex-shrink: 0;
                gap: var(--dui-spacing-medium);

                .block {
                    display: flex;
                    flex-direction: column;
                    border-radius: 0.25rem;

                    background-color: var(--dui-color-background);
                    padding: var(--dui-spacing-medium);
                    gap: var(--dui-spacing-small);

                    .contact-links {
                        display: flex;
                        gap: var(--dui-spacing-medium);
                    }
                }
            }
        }

        .good-practices-container {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-large);

            .filter-container {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-medium);

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    border-radius: .25rem;
                    min-width: 16rem;

                    .input-section {
                        border-radius: 0.25rem;
                    }
                }
            }

            .good-practice-list {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-large);

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    min-width: 20rem;
                }
            }
        }

    }
}

