.good-practices {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: var(--tui-spacing-super-large);

    .header-section {
        display: flex;
        position: relative;
        align-items: stretch;
        flex-direction: column;
        justify-content: flex-end;
        width: 100%;

        .profile {
            display: flex;
            align-items: center;
            flex-direction: column;
            background-color: var(--tui-color-brand);
            background-position: top center;
            background-size: cover;
            padding: var(--tui-spacing-extra-large) 0;
            width: 100%;
            color: var(--tui-color-text-on-dark);
            background-blend-mode: soft-light;
            gap: var(--tui-spacing-large);

            .container {
                display: flex;
                flex-direction: column;
                padding: var(--tui-spacing-large);
                width: 100%;
                max-width: var(--width-page-max);
                gap: var(--tui-spacing-large);
            }
        }

    }
    .map {

        .map-wrapper {
            position: relative;
            flex-grow: 1;
            z-index: 0;
            margin-top: var(--tui-spacing-large);

            .map-container {
                width: 100%;
                height: 32rem;
            }
        }
    }

    .main-content {
        display: flex;
        flex-direction: column;
        padding: var(--tui-spacing-large);
        width: 100%;
        max-width: var(--width-page-max);
        gap: var(--tui-spacing-ultra-large);

        .faq-section {
            display: flex;
            gap: var(--tui-spacing-super-large);

            .faq-list {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                gap: var(--tui-spacing-large);

                .content {
                    display: flex;
                    flex-direction: column;
                    gap: var(--tui-spacing-small);

                    .separator {
                        border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
                    }
                }
            }

            .side-pane {
                display: flex;
                flex-basis: 30%;
                flex-direction: column;
                flex-shrink: 0;
                gap: var(--tui-spacing-medium);
                margin-top: 5rem;

                .block {
                    border-radius: 0.25rem;
                    background-color: var(--tui-color-background);
                    padding: var(--tui-spacing-medium);
                }
            }

            @media (max-width: 1000px) {
                flex-wrap: wrap;

                .side-pane {
                    flex-basis: 100%;
                    flex-direction: row;
                    flex-wrap: wrap;

                    .block {
                        flex-basis: 0;
                        flex-grow: 1;
                        min-width: 20rem;
                    }
                }
            }
        }

        .good-practices-container {
            display: flex;
            flex-direction: column;
            gap: var(--tui-spacing-extra-large);

            .search-and-time-range-container {
                display: flex;
                align-items: flex-start;
                flex-wrap: wrap;
                gap: var(--tui-spacing-large);

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    min-width: 20rem;

                    .input-section {
                        border-radius: 0.25rem;
                    }

                    .label {
                        font-size: var(--tui-font-size-medium);
                    }
                }
            }

            .filter-container {
                display: flex;
                flex-wrap: wrap;
                gap: var(--tui-spacing-medium);

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    border-radius: .25rem;
                    min-width: 16rem;

                    .input-section {
                        border-radius: 0.25rem;
                    }

                    .label {
                        font-size: var(--tui-font-size-medium);
                    }
                }
            }

            .filter-list {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
                justify-content: flex-start;
                gap: var(--tui-spacing-large);

                .clear-all-container {
                    flex-basis: 100%;

                    .clear-filter-button {
                        color: var(--tui-color-danger);
                        gap: var(--tui-spacing-extra-small);
                    }
                }
            }

            .mobile-actions {
                display: flex;
                justify-content: flex-end;
            }

            .separator {
                border: var(--tui-width-separator-thin) solid var(--tui-color-separator);
            }

            .ordering-container {
                display: flex;
                justify-content: flex-end;
                .order-dropdown{
                    margin-left: var(--tui-spacing-large);
                    color: var(--tui-color-brand);
                    gap: var(--tui-spacing-extra-small);

                }
            }

            .good-practice-list {
                display: flex;
                flex-wrap: wrap;
                gap: var(--tui-spacing-extra-large);

                >* {
                    flex-basis: 0;
                    flex-grow: 1;
                    min-width: 20rem;
                }
            }

            .good-practice-grid {
                display: flex;
                flex-direction: column;
                gap: var(--tui-spacing-extra-large);

                >* {
                    display: flex;
                    >*{
                        width: auto;
                        height: 14rem;
                    }
                }
            }
            .view-buttons{
                display: flex;
                gap: var(--tui-spacing-extra-small);
                flex-wrap: wrap;

                >* {
                    flex-basis: 0;
                    min-width: 14rem;
                }

                .view-more-button {
                    margin-right: var(--tui-spacing-small);
                    min-width: 14rem;
                }

                .see-less-button {
                    min-width: 7rem;
                }
            }
        }

    }
}

.mobile-filter-modal {
    width: 100%!important;
    min-width: unset;
    height: 100%!important;
    min-height: unset;

    .heading {
        text-transform: none;
    }

    .content {
        display: flex;
        flex-direction: column;
        padding: var(--tui-spacing-medium);
        gap: var(--tui-spacing-large);

        .search-and-time-range-container {
            display: flex;
            flex-direction: column;
            gap: var(--tui-spacing-large);

            >* {
                width: 100%;
            }
        }

        .mobile-filters {
            display: flex;
            flex-direction: column;
            gap: var(--tui-spacing-large);
        }

        .label {
            font-size: var(--tui-font-size-medium);
        }

        .radio-list {
            flex-direction: column;
        }
    }
}
