.good-practice-item {
    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
    border-radius: 0.25rem;
    color: var(--dui-color-text);

    .preview {
        width: 100%;
        height: 12rem;
        object-fit: cover;
        object-position: top center;
    }

    .details {
        padding: var(--dui-spacing-medium);
    }

    .description {
        display: -webkit-box;
        overflow: hidden;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
}
