:root {
    --dui-font-family-sans-serif: 'Lato', sans-serif;
    --dui-font-family-heading: 'Lora', sans-serif;
    --dui-font-weight-light: 300;
    --dui-font-weight-medium: 400;
    --dui-font-weight-bold: 700;
    --dui-font-size-heading: 400;
}

.base {
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    font-size: var(--dui-font-size-medium);

    .navbar {
        flex-shrink: 0;

        &.hidden {
            display: none;
        }
    }

    .view,
    .init {
        flex-grow: 1;
        overflow: auto;
    }

    .alert-container {
        position: fixed;
        top: var(--dui-spacing-large);
        right: var(--dui-spacing-large);
        z-index: 1;
        width: 20rem;
    }
}
