.country-profile {
    display: flex;
    flex-direction: column;

    .cover-image {
        align-self: stretch;
        width: 100%;
        height: 18rem;
        object-fit: cover;
        object-position: center center;
        filter: brightness(50%);
    }

    .header-container {
        display: flex;
        align-items: center;
        flex-direction: column;
        background-color: var(--color-background);

        .content {
            display: flex;
            flex-direction: column;
            padding: var(--dui-spacing-extra-large);
            width: 100%;
            max-width: var(--width-page-max);
            gap: var(--dui-spacing-extra-large);

            .profile {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);
            }

            .navbar {
                display: flex;
                position: sticky;
                top: 0;
                align-items: center;
                flex-wrap: wrap;
                justify-content: center;
                padding: 0 var(--dui-spacing-large);
                gap: var(--dui-spacing-extra-large);
            }
        }
    }

    .body-container {
        display: flex;
        align-items: center;
        flex-direction: column;

        .separator {
            align-self: stretch;
            flex-basis: unset;
            flex-grow: unset;
            flex-shrink: 0;
            margin: var(--dui-spacing-small) 0;
            background-color: var(--dui-color-separator);
            width: var(--dui-width-separator-medium);
        }

        .content {
            display: flex;
            flex-direction: column;
            padding: var(--dui-spacing-extra-large);
            width: 100%;
            max-width: var(--width-page-max);
            gap: var(--dui-spacing-extra-large);

            .overview {
                display: flex;
                flex-direction: column;
                padding: var(--dui-spacing-super-large) 0;
                gap: var(--dui-spacing-large);

                .overview-content {
                    display: flex;
                    align-items: flex-start;
                    gap: var(--dui-spacing-medium);

                    .tab-list {
                        display: flex;
                        flex-direction: column;
                        flex-shrink: 0;
                        background-color: transparent;
                        width: 10rem;
                        gap: var(--dui-spacing-small);

                        .tab {
                            width: 100%;
                        }
                    }
                }
            }

            .displacement-data {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-extra-large);
                padding: var(--dui-spacing-super-large) 0;

                .infographics {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-large);

                    :global {
                        .recharts-legend-item-text {
                            font-size: var(--dui-font-size-small);
                        }

                        .recharts-cartesian-axis-tick-value {
                            font-size: var(--dui-font-size-small);
                        }
                    }

                    .infographic-list {
                        display: flex;
                        flex-wrap: wrap;

                        >* {
                            flex-basis: 0;
                            flex-grow: 1;
                            padding: var(--dui-spacing-medium);
                            min-width: 20rem;
                        }

                        .conflict-infographic {
                            color: var(--color-conflict);

                            .heading {
                                color: var(--color-conflict);
                            }
                        }

                        .disaster-infographic {
                            color: var(--color-disaster);

                            .heading {
                                color: var(--color-disaster);
                            }
                        }
                    }
                }
            }

            .latest-new-displacements {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);
            }

            .idu-container {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-large);

                .idu {
                    display: flex;
                    flex-basis: calc(50% - var(--dui-spacing-large));
                    flex-wrap: wrap;
                    border: var(--dui-width-separator-thin) solid var(--dui-color-separator);
                    padding: var(--dui-spacing-medium);
                    gap: var(--dui-spacing-medium);

                    .icon {
                        height: 2rem;
                    }
                }
            }

            .idu-pager {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-small);
            }

            .internal-displacement-updates {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);

                .legend {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-medium);

                    .legend-element-list {
                        display: flex;
                        gap: var(--dui-spacing-small);
                    }
                }

                .time-range-container {
                    display: flex;
                    flex-direction: column;
                    flex-grow: 1;
                    padding: var(--dui-spacing-medium) var(--dui-spacing-large);
                    gap: var(--dui-spacing-medium);

                    .time-range-input {
                        width: 100%;
                    }
                }
            }

            .related-material {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);

                .material-list {
                    --gap: 5rem;
                    display: flex;
                    flex-wrap: wrap;
                    gap: var(--gap);

                    .material {
                        --image-height: 20rem;
                        --image-width: 10rem;
                        flex-basis: calc(100% / 2 - var(--gap));
                        flex-direction: row;

                        >* {
                            flex-basis: 0;
                            flex-grow: 1;
                        }
                    }
                }
            }

            .misc {
                display: flex;
                gap: var(--dui-spacing-large);

                .essential-reading {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-large);
                }

                .contact {
                    display: flex;
                    flex-direction: column;
                    gap: var(--dui-spacing-large);

                    .preview {
                        width: 14rem;
                        height: 16rem;
                        object-fit: cover;
                    }
                }
            }
        }
    }
}
