.country-profile {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: var(--dui-spacing-large);
    gap: var(--dui-spacing-super-large);

    .cover-image {
        align-self: stretch;
        background-color: var(--dui-color-background);
        height: 32rem;
        object-fit: cover;
        object-position: center center;
    }

    .main-content {
        display: flex;
        flex-direction: column;
        width: 100%;
        max-width: var(--width-page-max);
        gap: var(--dui-spacing-ultra-large);

        .profile {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-large);
        }

        .overview {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-medium);
        }

        .displacement-data {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-extra-large);

            .infographics {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-large);

                .conflict-infographics {
                    display: flex;
                    flex-basis: 0;
                    flex-direction: column;
                    flex-grow: 1;
                    min-width: 36rem;
                    gap: var(--dui-spacing-medium);

                    .conflict-filter {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--dui-spacing-medium);
                    }

                    .infographic-list {
                        display: flex;
                        color: var(--color-conflict);

                        >* {
                            flex-basis: 0;
                            flex-grow: 1;
                        }
                    }
                }

                .disaster-infographics {
                    display: flex;
                    flex-basis: 0;
                    flex-direction: column;
                    flex-grow: 1;
                    min-width: 36rem;
                    gap: var(--dui-spacing-medium);

                    .disaster-filter {
                        display: flex;
                        flex-wrap: wrap;
                        gap: var(--dui-spacing-medium);
                    }

                    .infographic-list {
                        display: flex;
                        color: var(--color-disaster);

                        >* {
                            flex-basis: 0;
                            flex-grow: 1;
                        }
                    }
                }
            }
        }

        .latest-new-displacements {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-large);
        }

        .idu-container {
            display: flex;
            flex-wrap: wrap;
            gap: var(--dui-spacing-large);

            .idu {
                flex-basis: calc(50% - var(--dui-spacing-large));
            }
        }

        .internal-displacement-updates {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-large);

            .filter {
                display: flex;
                flex-wrap: wrap;
                gap: var(--dui-spacing-medium);
                font-size: 1rem;
            }

            .map-wrapper {
                .map-container {
                    width: 100%;
                    min-height: 44rem;
                }

                .legend-list {
                    display: flex;
                    background-color: var(--dui-color-background);
                    padding: var(--dui-spacing-small) 0;

                    .legend {
                        display: flex;
                        padding: var(--dui-spacing-medium) var(--dui-spacing-large);
                        gap: var(--dui-spacing-medium);

                        .legend-element-list {
                            display: flex;
                            gap: var(--dui-spacing-large);
                        }
                    }

                    .separator {
                        align-self: stretch;
                        margin: var(--dui-spacing-small) 0;
                        background-color: var(--dui-color-separator);
                        width: var(--dui-width-separator-medium);
                    }
                }
            }
        }

        .related-material {
            display: flex;
            flex-direction: column;
            gap: var(--dui-spacing-large);

            .material-list {
                --gap: 5rem;
                display: flex;
                flex-wrap: wrap;
                gap: var(--gap);

                .material {
                    --image-height: 20rem;
                    --image-width: 10rem;
                    flex-basis: calc(100% / 2 - var(--gap));
                    flex-direction: row;

                    >* {
                        flex-basis: 0;
                        flex-grow: 1;
                    }
                }
            }
        }

        .misc {
            display: flex;
            gap: var(--dui-spacing-large);

            .essential-reading {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);
            }

            .contact {
                display: flex;
                flex-direction: column;
                gap: var(--dui-spacing-large);

                .preview {
                    width: 14rem;
                    height: 16rem;
                    object-fit: cover;
                }
            }
        }
    }
}
