.ellipsized-content {
    .container {
        &.ellipsized {
            display: -webkit-box;
            overflow: hidden;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;
        }
    }

    .ellipsize-toggle-button {
        display: flex;
        align-items: center;
        margin-top: var(--dui-spacing-medium);
        gap: var(--dui-spacing-small);

        .icon {
            color: var(--dui-color-brand);
        }
    }
}

